.container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-self: stretch;
}

.btn{
    padding: 0 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
    position: relative;
}

.btn:hover{
    background-color: #444444;
}

.icon{
    width: 3rem;
    height: 3rem;
    fill: var(--color-grey-light);
}

.number{
    position: absolute;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--color-grey-dark);
    padding: .5rem;
    border-radius: 50%;
    top: 1rem;
    right: .5rem;
}

.accountContainer{
    position: relative;
}

.accountInfoContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
}

.accountInfoContainer:hover{
    background-color: #444444;
}

.iconGuest{
    border: 1px solid white;
    padding: .5rem;
    border-radius: 50%;
    margin-right: 1rem;
    position: relative;
}

.userName{
    font-size: 1.6rem;
    color: white;
}

.accountPlate{
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    width: 15rem;
    background-color: #333333;
    padding: 1rem 0;

    transition: all .2s;
}

.accountPlate::before{
    content: '';
    display: block;
    position: absolute;
    border: 1rem solid #333333;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: 100%;
    right: 1rem;
}

.listItem{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.listItem::before{
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 2%;
    background-color: white;

    transition: height .2s, width .2s .2s;
}

.listItem:hover::before{
    height: 100%;
    width: 100%;
}

.link{
    display: block;
}

.text{
    z-index: 10;
    color: white;
    margin-left: 1rem;
    transition: all .2s .2s;
}

.listItem:hover .text{
    color: black;
}

.hide{
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -1rem);
}

.logoutbtn{
    border: 1px solid red;
    display: block;
}